* {
    box-sizing: border-box;
    list-style-type: none;
}

.flex-grid {
    display: flex;
}

.sidebar {
    flex: 1;
}

.main {
    flex: 3;
}


/* LIST STYLES */

.main ul {
    /* margin: 0 0 3px 0; */
    margin: 5px;
}

.main li {
    border: 1px solid black;
    padding: 10px;
    width: 85%;
    position: relative;
    margin: 5px;
    /* border-radius: 5px; */
}

.sidebar ul {
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 0px;
}

.folder-button {
    height: 55px;
    width: 225px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.folder-button-selected {
    height: 55px;
    width: 225px;
    background-color: rgb(49, 49, 49);
    color: white;
    border: 1px solid rgb(36, 14, 88);
    display: flex;
    justify-content: space-around;
}

.general-button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 105px;
    height: 55px;
    border-radius: 10%;
    background-color: rgb(175, 175, 175);
    /* border: 1px solid black; */
}

.note {}

.note-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
}

nav {
    background-color: #252525d2;
    color: #fff;
    padding: 1rem;
    text-align: center;
}